*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.mini-circle{
    height: 10px;
    width: 10px;
    background-color: white;
    position: absolute;
    z-index: 9999999;
    border-radius: 50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.main{
    width: 100%;
    height: auto;
    background-color: black;
}

.hero{
    width: 100%;
    height: 100vh;
    background-color: black;
}

/* h2{
    font-size: 16px;
} */

nav{
    display: flex;
    justify-content: space-between;
    padding: 2.5% 3%;
    align-items: center;
}

nav a{
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.heading1{
    display: flex;
    justify-content: space-between;
}

.heading{
    text-transform: uppercase;
    position: relative;
    margin-top: 100px;
    width: fit-content;
    margin-left: 40px;
}

.heading h1{
    font-size: 10.42vw;
    font-weight: 500;
    color: rgb(163,163,163);
    line-height: 0.85;
}

.blocktext{
    width: fit-content;
}

.blocktext h5{
    position: absolute;
    margin-top: 16px;
    font-size: 15px;
    left: 85%;
    animation: swipeFromLeft 2s ease forwards;
    animation-delay: 1.2s;
    opacity: 0;
}

@keyframes swipeFromLeft {
    0%{
        transform: translateX(-80%);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.heading .d{
    margin-left: 190px;
}

.honors{
    background-color: white;
    width: 55px;
    height: 170px;
    display: flex;
    margin-top: 14%;
}

.honors h3{
    color: black;
    padding-left: 16px;
    padding-top: 5px;
    font-weight: 800;
    font-size: 22px;
    display: flex;
}

 .honors p{
    position: absolute;
    top: 16.5%;
    color: black;
    height: 5px;
    transform: rotate(-90deg);
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
} 

.bounding{
    width: fit-content;
    background-color: black;
    /* border: 1px solid white; */
    overflow: hidden;
}

.boundingelem{
    transform: translateY(100%);
}

.otherheading{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    margin-top: 110px;
    text-transform: uppercase;
    line-height: 2;
    margin-right: 3%;
    font-size: 20px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 4% 0 4%;
}

.footer a{
    text-transform: uppercase;
    text-decoration: none;
}

.footer div i{
    align-items: center;
    font-size: 20px;
}

.arrow i{
    color: rgb(163,163,163);
    font-size: 30px;
}

.second{
    background-color: black;
    width: 100%;
    min-height: 100vh;
    padding-right: 14vw;
    padding-top: 200px;;
}

.elements{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 40px;
    border-top: 1px solid rgb(169, 169, 169);
    padding: 4vw 2vw;
    padding-right: 0;
}

 .elements h1:hover{
    transform: translateX(7%);
    opacity: 0.4;
}

.elements h1{
    font-size: 6.8vw;
    font-weight: 400;
    color: rgb(169, 169, 169);
    text-transform: uppercase;
    transition: 0.5s ease;
}

.elements h5{
    font-size: 16px;
    color: rgb(169, 169, 169);
}

.elemlast{
    border-bottom: 1px solid rgb(169, 169, 169);
}

.elements img{
    /* display: none; */
    opacity: 0;
    height: 140%;
    position: absolute;
    z-index: 999;
    top: -70%;
    left: -20%;
    transform: translate(50% ,50%);
    object-fit: cover;
    pointer-events: none;
}

.third{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    padding-top: 80px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10vw 5vw;
    padding-left: 37vw;
}

.about img{
    width: 250px;
    border-radius: 50px;
    object-fit: cover;
}

.bio{
    width: 500px;
    padding-right: 20px;
}

.bio h3{
    font-weight: 400;
    line-height: 1.4;
}

.bio h4{
    color: rgb(169, 169, 169);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
}

.bio button{
    margin-top: 25px;
    font-size: 16px;
    background-color: black;
    padding: 7px 19px;
    border: 1px solid white;
    border-radius: 80px;
}

.bio button a{
    text-decoration: none;
    transition: all 0.5s ease;
}

.bio button a:hover{
    color: black;
}

.bio button:hover{
    background-color: white;
    cursor: pointer;
}

.links{
    text-transform: uppercase;
    padding: 3vw 3.5vw;
}

.links h5{
    color: rgb(169, 169, 169);
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
}

.links div h2{
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
}

.links div i{
    font-size: 20px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8vw 2.5vw 1.4vw 2vw;
}

.left h2{
    display: inline-block;
    padding-left: 25px;
    font-weight: 400;
    font-size: 16px;
}

.right li{
    display: inline-block;
    list-style: none;
    padding-left: 55px;
}

.right li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.right li::after{
    content: '';
    width: 0;
    display: block;
    margin: auto;
    height: 1px;
    background: white;
    transition: 0.5s;
}

.right li:hover::after{
    width: 100%;
}